

.Element{
text-align: left;
flex: 0 1 200px;

}

.ElementButton{
    padding: 5px;
    margin: 2px;
    }

.Li {
    display: flex;
    justify-content: center;
}

.List {
    display: block;
    list-style: none;
    margin-top: 20px;
    font-size: 20px;
    }

