.FilterHeader{
    font-size: 20px;
    text-align: center;
}


.Element{
    text-align: left;
    flex: 0 1 150px;
    }

 .FilterInput{
    text-align: left;
    max-width: 100px;
    }

.Filter {
        display: flex;
        justify-content: center;
    }

.FilterButton {
    margin-top: 16px;
    padding: 5px;
}
